# Project-wide Gradle settings
.gradle
/build
/local.properties

# IDEA
.idea
*.iml
*.iws
*.ipr
out/

# Android
captures/
.externalNativeBuild
.cxx

# OS-specific
.DS_Store
Thumbs.db

# Log files
*.log

# Firebase
google-services.json
